<form  action="/cadastrousuario" method="POST">
    <p>Nome do usuario</p>
    <input type="text" name="nome"/>
    <p>Bairro</p>
    <input type="text" name="bairro"/>
    <p>Turno que irá frequentar o serviço</p>
    <input type="number" name="turno"/>
    <p>Data nascimento</p>
    <input id="date" type="date" name="nasc"/>
    <p>Turma</p>
    <input type="number" name="turma"/>
    <p>Escola</p>
    <select id="escola" name="cmbEscola">
        <option value='1'></option>
        <option value='2'>Dom Felicio</option>
        <option value='3'>Isabel Telles</option>
        <option value='4'>Sebastião</option>
        <option value='5'>Santo Antonio</option>
    </select>


    <button type="submit">Cadastrar usuario</button>
</form>