<form  action="/cadastrousuario" method="POST">
    <p>Nome meliante</p>
    <input type="text" name="nome">
    <p>Bairro</p>
    <input type="text" name="bairro">
    <p>Data nascimento</p>
    <input type="text" name="nasc">
    <p>Turma</p>
    <input type="text" name="turma">
    <p>Escola</p>
    <input type="text" name="escola">


    <button type="submit">Cadastrar</button>
</form>