<form  action="/cadastrousuario" method="POST">
    <p>Nome meliante</p>
    <input type="text" name="nome">
    <p>Bairro</p>
    <input type="text" name="bairro">
    <p>Turno que irá frequentar o serviço</p>
    <input type="number" name="turno">
    <p>Data nascimento</p>
    <input id="date" type="date" name="nasc">
    <p>Turma</p>
    <input type="number" name="turma">
    <p>Escola</p>
    <input type="number" name="escola">


    <button type="submit">Cadastrar</button>
</form>