<h2>Sobre</h2>
<br>
<div class="container">
    <br>
    <br>
    <div id="paginatabela">
        <h3>Horário das oficinas</h3>
        <p>Dia:</p>        
            <select id="Dias" name="cmbDia">
                <option value='1'>Segunda</option>
                <option value='2'>Terça</option>
                <option value='3'>Quarta</option>
                <option value='4'>Quinta</option>
                <option value='5'>Sexta</option>
            </select>
    </div>
    <hr>
    <br/>
    <table class="table table-bordered table-hover" id="tabelachamada">
        <thead>
            <caption>Aulas</caption>
            <th>T1</th>
            <th>T2</th>
            <th>T3</th>
            <th>T4</th>
        </thead>
        <tbody>
                <tr>
                    <td>Capoeira</td>
                    <td>Esporte</td>
                    <td>Ambiente</td>
                    <td>Informática</td>
                </tr>                      

                <tr>
                    <td>Inofrmática</td>
                    <td>Capoeira</td>
                    <td>Artesanato</td>
                    <td>Ambiente</td>
                </tr>                                          

                <tr>
                    <td>Artesanato</td>
                    <td>Informática</td>
                    <td>Capoeira</td>
                    <td>Esporte</td>
                </tr>                      

                <tr>
                    <td>Ambiente</td>
                    <td>Artesanato</td>
                    <td>Esporte</td>
                    <td>Capoeira</td>
                </tr>                      
        </tbody>
    </table>    
    <br>
    <br>
    
</div>

<div style="float:left; margin-left: 3%;">    
    <a href= "/mapas/mapa"><button>Mapa da Sala</button></a>
    <br/>
    <button type="submit" onClick="printPage()">Imprimir a tabela acima</button>
</div>

<br/>
<br/>
<hr/>
<div >    
    <h3>Autoria e desenvolvimento</h3> 
    <h4>Ricardo Bavaresco</h>
</div>



