<div class="alert alert-danger" role="alert">
    Login invalido    
</div>

<h2><span class="badge bg-secondary">{{msg}}</span></h2>

<div id="loginestilo">
    <div class="d-flex align-items-center justify-content-center">
        <form  action="/logar" method="POST">
            <p>Usuario</p>
            <input type="text" name="user">
            <p>Senha</p>
            <input type="password" name="senha">
            <button type="submit">Logar</button>
        </form>
    </div>
</div>

