<h2>Mapa dos computadores da sala</h2>

<br>
<div class="container">
    <h3>Dividir cada usuario a cada computador de acordo com o mapa</h3>
    {{!-- <br>
    <div id="paginamapa">
        <h3>Horário das oficinas</h3>
        <p>Dia:</p>        
            <select id="Dias" name="cmbDia">
                <option value='1'>Segunda</option>
                <option value='2'>Terça</option>
                <option value='3'>Quarta</option>
                <option value='4'>Quinta</option>
                <option value='5'>Sexta</option>
            </select>
    </div> --}}
    <hr>
    <br/>

    <div class="row">
        <h3>Horário das oficinas</h3>
        <p>Turma:</p>        
            <select id="Turma" name="cmbTurma">
                <option value='1'>T1</option>
                <option value='2'>T2</option>
                <option value='3'>T3</option>
                <option value='4'>T4</option>
            </select>
    </div>

    <table class="table table-bordered table-hover" id="tabelachamada">
        <thead>
            <caption>Computadores</caption>
            <th>PC01</th>
            <th>PC02</th>
            <th>PC03</th>
            <th>PC04</th>
            <th>PC05</th>
            <th>PC06</th>
            <th>PC07</th>
            <th>PC08</th>
            <th>PC09</th>
            <th>PC10</th>
            <th>PC11</th>
            <th>PC12</th>
        </thead>
        <tbody>
                <tr>
                    <td>Status</td>                                        
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                    <td>Status</td>                    
                </tr>        
                <tr>
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                    <td>Usuários</td>                   
                </tr>
        </tbody>
    </table>    
    <br>
    <br>
    
</div>

<div style="float:left; margin-left: 3%;">    
    <button type="submit" onClick="printPage()">Imprimir a tabela acima</button>
</div>

<br/>
<br/>
<hr/>
<div >    
    <h3>Autoria e desenvolvimento</h3> 
    <h4>Ricardo Bavaresco</h>
</div>



