<h2>Sobre</h2>
<br>
<div class="container">
    <br>
    <br>
    <div id="paginatabela">
        <h3>Horário das oficinas</h3>
        <p>Dia:</p>        
            <select id="Dias" name="cmbDia">
                <option value='1'>Segunda</option>
                <option value='2'>Terça</option>
                <option value='3'>Quarta</option>
                <option value='4'>Quinta</option>
                <option value='5'>Sexta</option>
            </select>
    </div>
    <hr>
    <br/>
    <table class="table table-bordered table-hover" id="tabelachamada">
        <thead>
            <th>T1</th>
            <th>T2</th>
            <th>T3</th>
            <th>T4</th>
        </thead>
        <tbody>
                <tr>
                    <td>Capoeira</td>
                    <td>Esporte</td>
                    <td>Ambiente</td>
                    <td>Informática</td>
                </tr>                      

                <tr>
                    <td>Inofrmática</td>
                    <td>Capoeira</td>
                    <td>Artesanato</td>
                    <td>Ambiente</td>
                </tr>                                          

                <tr>
                    <td>Artesanato</td>
                    <td>Informática</td>
                    <td>Capoeira</td>
                    <td>Esporte</td>
                </tr>                      

                <tr>
                    <td>Ambiente</td>
                    <td>Artesanato</td>
                    <td>Esporte</td>
                    <td>Capoeira</td>
                </tr>                      
        </tbody>
    </table>    
    <br>
    <br>    
</div>
<div class="row">
    <div class="col-2">
        <button style="width: 210px;" type="submit" onClick="printPage()">Imprimir a tabela acima</button>
    </div>
    <div class="col-2">
        <a href="/display" target="_blank"><button style="width: 210px;">Mostrar desenhos</button></a>        
    </div>
</div>


<div class="row" style="margin-top: 10px;">
    <div class="col-2">
        <a href="/quiz"><button style="width: 210px;">Questionario</button></a>        
    </div>
    <div class="col-4">
        <a href= "/mapas/mapa"><button style="width: 210px;">Mapa da Sala</button></a>        
    </div>
</div>    

<div class="row" style="margin-top: 20px;">
    <div class="col-2">
        Nivel de permissão: {{permit}}
    </div>
    <div class="col-4">
        {{#if permit}}
            <div id="controle">
                <a href="/ControleAcesso" class="btn btn-dark">Garantia de controle de acesso no front</a>
            </div>
        {{/if}}
    </div>
</div>



<div class="row">
    <hr/>   
    <div class="col-4">
        <h3>Autoria e desenvolvimento</h3> 
        <h4>Ricardo Bavaresco</h>
    </div>
</div>



