
<div class="container">
    <h2>Tela Controle de acesso furado</h2>
        <div class="row">
            <div class="col-3">
                <p>Dia da oficina</p>                    
                <input id="date" type="date" name="diaoficina"/>
            </div>    
            <div class="col-3">
                <p>Dar permissão:</p>
                <select id="oficina" name="cmbOficina">
                    <option value='1'>Sim</option>
                    <option value='2'>Não</option>
                </select>
            </div>
        </div>
    <br>
    <div class="row">
        <div class="col-3">
            <p>Usuario logado:</p>        

        </div>
        <div class="col-3">
            <p>Turno</p>      
            <select id="turno" name="cmbTurno">
                <option value='1'>Matutino</option>
                <option value='2'>Vespertino</option>
            </select>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-11">            
            <h2>Acesso somente para usuarios com permissão de administrador ! </h2>
        </div>

    </div>        
    <br>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a href="/diarios/listardiario"><button type="button">Listar questionarios</button>
            </div>
        </div>
    </div>
</div>
